:root{
    --width-card:450px;
    --heigth-card:300px;
}
/*Screen superiores 1280 x 720*/

body {
    padding: 0;
    margin: 0;
}

/******************** MENU USER ********************/

.menu-user-rigth {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("../img/menor.svg");
    background-color: rgba(12, 186, 30, .7);
    border-radius: 50%;
    display: none;
    position: fixed;
    z-index: 4;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.menu-user-rigth:hover {
    background-color: rgba(12, 186, 30, .9);
}

.menu-user-left {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("../img/mayor.svg");
    background-color: rgba(12, 186, 30, .7);
    border-radius: 50%;
    display: none;
    position: fixed;
    z-index: 4;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

.menu-user-left:hover {
    background-color: rgba(12, 186, 30, .9);
}

/****************** FIN MENU USER ********************/

/*************** INICIO HEADER PRINCIPAL **************/

#principal {
    background-color: #0cba1e;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 10px #b6b9b6;
    height: 100px;
    width: 100%;
}

#principal .title-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
    margin: 2em 4em 2em 2em;
}

#principal .title-container .logo img {
    height: 50px;
    flex: 1;
}

#principal .title-container .title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
    flex: 1;
    margin: 0px;
}

#principal .form {
    display: flex;
    align-items: center;
    flex: 3;
    margin: 1em;
}

#principal .form form {
    display: inline-flex;
    width: 100%
}

#principal .form input {
    flex: 4;
    font-size: 1.2em;
    border-style: none;
    border-color: #0cba1e;
    border-radius: 6px;
    height: 50px;
    width: 100%;
}

#principal .form figure {
    display: none;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-image: url("../img/find.svg");
    background-repeat: no-repeat;
}

#principal .account {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3em;
    padding: 1em;
    margin: 1em 0 1em 0em;
}

#principal .account .username {
    margin: 0.2em;
}

#principal .account .imgUser {
    margin: 0.2em;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-size: 50px 50px;
    background-image: url("../img/perfil.jpeg");
    background-repeat: no-repeat;
    border-radius: 50%;
}

#principal .account .button {
    margin: 0;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    background-image: url("../img/button-user.jpg");
    background-repeat: no-repeat;
}

#principal .account .button:active {
    background-image: url("../img/button-user-select.jpg");
}

#principal .account .button:hover {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}

/*************** FINAL HEADER PRINCIPAL **************/

/*************** INICIO HEADER SECONDARY **************/

#secondary {
    display: flex;
    flex-direction: column;
    z-index: 3;
    height: 100%;
    width: 80px;
    background-color: #262b48;
}
.secondary{
    grid-area: second;
}
#secondary .secondary-container {
    display: grid;
    grid-template: 90% 10%/100%;
    position:relative;
    font-size: 18px;
    width: 100%;
    height:100%;
}

#secondary .secondary-container .navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
}
#secondary .secondary-container .navigator-items{
    margin:15px 0;
    width: 65%;
    display:flex;
    flex-direction: column;
}

#secondary .secondary-container .ajust {
    margin: 5px 5px 5px 15px;
    position: relative;
    text-align: center;
    width: 65%;
    height:100%;
}

#secondary .secondary-container .card-icon{
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    color:white;
    cursor: pointer;
}

#secondary .secondary-container .icon-home {
    background-image: url("../img/home.png");
}

#secondary .secondary-container .icon-treding {
    background-image: url("../img/treding.png");
}

#secondary .secondary-container .icon-likes {
    background-image: url("../img/like.png");
}

#secondary .secondary-container .icon-ajust {
    background-image: url("../img/config.png");
}

#secondary a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

/*************** FINAL HEADER SECONDARY **************/

/*************** INICIO MAIN **************/

.main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 80px repeat(3,1fr);
    grid-template-areas: 
    "second title-ahora title-ahora title-ahora" 
    "second card-ahora card-ahora card-ahora" 
    "second title-no-debes title-no-debes title-no-debes"
    "second card-no-debes card-no-debes card-no-debes" 
    "second title-aclamadas title-aclamadas title-aclamadas" 
    "second card-aclamadas card-aclamadas card-aclamadas";
    row-gap: 20px;
    column-gap:1%;
}

.ahora {
    grid-area: title-ahora;
}

.card-ahora {
    grid-area: card-ahora;
}

.no-debes {
    grid-area: title-no-debes;
}

.card-no-debes {
    grid-area: card-no-debes;
}

.aclamadas {
    grid-area: title-aclamadas;
}

.card-aclamadas {
    grid-area: card-aclamadas;
}
.title-child{
    font-size:24px;
    font-weight: bold;
}

.cards-child {
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,32%);
    column-gap:1%;
    justify-items: center;
    align-content: center;
    justify-self:center;
}

.card {
    height: 250px;
    width: 100%;
    position:relative;
}

.img-card img {
    height: 100%;
    width: 100%;
    position:absolute;
    z-index:0;
}

.description-card-container {
    margin:0;
    width: 100%;
    height: 50%;
    background: rgba(38, 43, 72, 0.7);
    color: white;
    position:absolute;
    z-index: 1;
    font-size:16px;
    bottom:0;
    overflow:auto;
    scrollbar-width:none;
}
.description-card-container::-webkit-scrollbar {
    display: none;
}

.title-card{
    font-size:22px;
    font-weight: bold;
    text-align: center;
    margin:0;
}
.description-card{
    width: 100%;
}

/*************** FIN MAIN **************/