/*Screen superiores 1280 x 720*/

body {
    padding: 0;
    margin: 0;
}

/*************** MENU USER **************/

.menu-user-rigth {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("../img/menor.svg");
    background-color: rgba(12, 186, 30, .7);
    border-radius: 50%;
    display: none;
    position: fixed;
    z-index: 4;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.menu-user-rigth:hover {
    background-color: rgba(12, 186, 30, .9);
}

.menu-user-left {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("../img/mayor.svg");
    background-color: rgba(12, 186, 30, .7);
    border-radius: 50%;
    display: none;
    position: fixed;
    z-index: 4;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

.menu-user-left:hover {
    background-color: rgba(12, 186, 30, .9);
}

/*************** FIN MENU USER **************/

/*************** INICIO HEADER PRINCIPAL **************/

#principal {
    background-color: #0cba1e;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 10px #b6b9b6;
    height: 100px;
    width: 100vw;
}

#principal .title-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
    margin: 2em 4em 2em 2em;
}

#principal .title-container .logo img {
    height: 50px;
    flex: 1;
}

#principal .title-container .title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
    flex: 1;
    margin: 0px;
}

#principal .form {
    display: flex;
    align-items: center;
    flex: 3;
    margin: 1em;
}

#principal .form form {
    display: inline-flex;
    width: 100%
}

#principal .form input {
    flex: 4;
    font-size: 1.2em;
    border-style: none;
    border-color: #0cba1e;
    border-radius: 6px;
    height: 50px;
    width: 100%;
}

#principal .form figure {
    display: none;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-image: url("../img/find.svg");
    background-repeat: no-repeat;
}

#principal .account {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3em;
    padding: 1em;
    margin: 1em 0 1em 0em;
}

#principal .account .username {
    margin: 0.2em;
}

#principal .account .imgUser {
    margin: 0.2em;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-size: 50px 50px;
    background-image: url("../img/perfil.jpeg");
    background-repeat: no-repeat;
    border-radius: 50%;
}

#principal .account .button {
    margin: 0;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    background-image: url("../img/button-user.jpg");
    background-repeat: no-repeat;
}

#principal .account .button:active {
    background-image: url("../img/button-user-select.jpg");
}

#principal .account .button:hover {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}

/*************** FINAL HEADER PRINCIPAL **************/

/*************** INICIO HEADER SECONDARY **************/

#secondary {
    display: block;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 80px;
    background-color: #262b48;
}

#secondary .secondary-container {
    display: block;
    font-size: 18px;
    width: 100%;
}

#secondary .secondary-container .navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secondary .secondary-container .ajust {
    margin: 5px 5px 5px 15px;
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 65%
}

#secondary .secondary-container .home {
    margin: 10px 0px;
    width: 65%;
}

#secondary .secondary-container .icon-home {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    background-image: url("../img/home.png");
    color: white;
}

#secondary .secondary-container .treding {
    margin: 10px 0px;
    width: 65%;
}

#secondary .secondary-container .icon-treding {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    background-image: url("../img/treding.png");
}

#secondary .secondary-container .likes {
    margin: 10px 0px;
    width: 65%;
}

#secondary .secondary-container .icon-likes {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    background-image: url("../img/like.png");
}

#secondary .secondary-container .icon-ajust {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    background-image: url("../img/config.png");
}

#secondary a {
    color: white;
    text-decoration: none;
}
