/*Screen between 1024 x 768*/

@media screen and (max-width:1024px) {
    
    #principal {
        height: 80px;
    }
    #principal .title-container {
        margin-right: 0em;
    }
    #principal .form {
        margin-left: 10px;
    }
    #principal .form form {
        width: 100%;
    }
    #principal .account {
        display: flexbox;
    }
    .button {
        display: none;
    }
    #secondary{
        top:80px;
    }
}