/*Screen  800px  */

@media screen and (max-width:800px) {
    .menu-user-rigth {
        display: block;
    }
    #principal .title-container {
        padding-left: 0px;
        margin-left: 0px;
        flex: 1;
    }
    #principal .title-container .title{
        font-size:40px
    }
    #principal .form {
        width: max-content;
        flex: auto;
    }
    #principal .form form {
        flex:1;
    }
    #principal .form input{
        height: 40px;
    }
    #principal .account {
        display: block;
        height: 75px;
        position: fixed;
        top: 30px;
        right: -100vw;
        z-index: 4;
        background-color: rgba(12, 186, 30, .7);
        transition: 0.5s;
    }
    #principal .account.is-active {
        right: 0;
    }
}