/*Screen between 1024 x 768*/

@media screen and (max-width:1024px) {
    
    header {
        height: 80px;
    }
    header .title-container {
        margin-right: 0em;
    }
    header .form {
        margin-left: 10px;
    }
    header .form form {
        width: 100%;
    }
    header .account {
        display: flexbox;
    }
    .button {
        display: none;
    }
}